.mathslate-tinymce .mathslate-highlight {
    color: yellow
}

.mathslate-tinymce .mathslate-workspace .mathslate-selected {
    color: green
}

.mathslate-tinymce .mathslate-workspace-dragged {
    color: #888;
}

.mathslate-tinymce .mathslate-toolbox-drag, .mathslate-workspace-drag {
    color: #FFF;
}

.mathslate-tinymce .mathslate-preview {
    height: 130px;
    border: solid 1px #888;
    overflow: scroll;
    text-align: left;
    background: #111;
    color: #FFF;
}
.mathslate-tinymce .mathslate-preview div {
    padding-left: 10px
}

.mathslate-tinymce .mathslate-preview .mathslate-selected {
    background-color: #333;
    border-left: solid 5px green;
}

.mathslate-tinymce .mathslate-preview .mathslate-selected dis{
    animation-duration: 750ms;
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flash {
    from {
    border-left: #1F1;
    background-color: #333;
    }
    35% {
    border-left: #1E1;
    }
    65% {
    border-left: #121;
    background-color: #111;
    }
    to {
    border-left: #111;
    }
}

.mathslate-tinymce .mathslate-editor {
}

.mathslate-tinymce .mathslate-workspace {
    background-color: #333; 
    color: #EEE; 
    height: 100px;
    text-align: center;
    line-height: 100px;
    padding: 4px;
    border: solid #666 6px;
    border-top: solid #999 4px;
    border-right: solid #888 6px;
    border-bottom: solid #555 4px;
    vertical-align: middle
}

.mathslate-tinymce .mathslate-toolbox {
color: #888
}

.mathslate-tinymce .yui3-tabview-panel p {
padding: 1px
}

.mathslate-tinymce .mathslate-toolbox .yui3-tabview-panel {
    background: #EEE;
    background: radial-gradient(#EEE,#BBB)
}

.mathslate-tinymce .mathslate-toolbox .yui3-tab-label {
    height: 2em;
    width: 3.25em
}

.mathslate-tinymce .mathslate-toolbox .yui3-tab-selected .yui3-tab-focused {
    background-image: none ;
    background: linear-gradient(to top,#444,#888)
}

.mathslate-tinymce .mathslate-toolbox .yui3-tab-selected .yui3-tab-label {
    background: #444;
    background-image: none;
    background: linear-gradient(to bottom,#AAA,#444)
}

.mathslate-tinymce .mathslate-toolbox .yui3-tabview-list {
    border-color: #444
}

.mathslate-tinymce .yui3-tabview-panel {
height: 100px
}

.mathslate-tinymce .mathslate-delete-button {
}

.mathslate-tinymce .mathslate-undo-button {
}

.mathslate-tinymce .mathslate-redo-button {
}

